* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
}
:root {
  --theme-text: #ffffff;
  --theme-bg: #2c2c2c;
  --theme-contrast: #e28553;
}
body {
  background-color: var(--theme-bg);
  color: var(--theme-text);
}
